<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../resources/bootstrap.css" />

    <title> Management in the organization of group activities </title>
    <style>
        [class*="col"] {
            padding: 1rem;
            background-color: #33b5e5;
            border: 2px solid #fff;
            color: #fff;
            text-align: center;
        }
    </style>

</head>
<body>

<hr class="my-3">

<h2 class="my-5  text-center">Example 2</h2>

<div class="container">
    <div class="row">
        <div class="col-md-8 text-center">
            header
            <a href="http://localhost:8080" type="button" class="btn btn-success" >Success</a>

            <div class="row text-center">

<!-- header koniec-->
                <div class="col-12">
                    <div class="card">
                        <div class="card-body, text-black-50">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Voluptatum unde incidunt nobis doloremque exercitationem nihil
                            accusantium voluptatibus? Doloribus optio doloremque nihil
                            veritatis, magni, blanditiis modi dicta temporibus voluptates
                            suscipit ab.
                        </div>
                    </div>
                </div>



<!--                footer start-->
                <span>footer</span>
            </div>
        </div>

        <div class="col-md-4 d-sm-none d-md-block">sidebar</div>
    </div>
</div>

<hr class="my-5">


<div class="card-body, text-black-50">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Heading</th>
                <th scope="col">Heading</th>
                <th scope="col">Heading</th>
                <th scope="col">Heading</th>
                <th scope="col">Heading</th>
                <th scope="col">Heading</th>
                <th scope="col">Heading</th>
                <th scope="col">Heading</th>
            </tr>
            </thead>
            <tbody class="table-info">
            <tr>
                <th scope="row">1</th>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://unpkg.com/@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>
<script src="../../resources/bootstrap.js"></script>
</body>
</html>
